.internship-details-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
    
}

.input-field {
    margin-bottom: 20px;
}

.input-field label {
    display: block;
    margin-bottom: 5px;
}

.input-field input, .input-field textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 5px !important;
}

.input-field textarea {
    resize: vertical;
}

.button-container {
    display: flex;
    justify-content: center;
}

.save-btn, .edit-btn {
    background-color: #00796b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.save-btn:hover, .edit-btn:hover {
    background-color: #1f2b83;
}
